<p id="notice"><%= notice %></p>

<p>
  <strong>Start price:</strong>
  <%= @auction.start_price %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @auction.start_date %>
</p>

<p>
  <strong>Buynow price:</strong>
  <%= @auction.buynow_price %>
</p>

<p>
  <strong>Minimal price:</strong>
  <%= @auction.minimal_price %>
</p>

<p>
  <strong>Listing:</strong>
  <%= @auction.listing %>
</p>

<p>
  <strong>User:</strong>
  <%= @auction.user %>
</p>

<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>
