<h1>Listing rent_properties</h1>

<table>
  <thead>
    <tr>
      <th>Building year</th>
      <th>City</th>
      <th>Street</th>
      <th>House number</th>
      <th>Apartment number</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rent_properties.each do |rent_property| %>
      <tr>
        <td><%= rent_property.building_year %></td>
        <td><%= rent_property.city %></td>
        <td><%= rent_property.street %></td>
        <td><%= rent_property.house_number %></td>
        <td><%= rent_property.apartment_number %></td>
        <td><%= rent_property.user %></td>
        <td><%= rent_property.status %></td>
        <td><%= link_to 'Show', rent_property %></td>
        <td><%= link_to 'Edit', edit_rent_property_path(rent_property) %></td>
        <td><%= link_to 'Destroy', rent_property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rent property', new_rent_property_path %>
